{# templates/partials/footer.twig #}
<footer class="hidden">
  <div>
    <p>Built by <a href="{{ author_link }}" target="_blank">{{ author_name }}</a></p>
    <p>{{ year }}</p>
  </div>
  <nav class="carousel-dots"></nav>
</footer>
