{# templates/partials/header.twig #}
<header class="hidden">
  <h1>{{ project_name }}</h1>
  <nav class="buttons">
    <ul>
      <li class="settings-button">{{ settings_label }}</li>
    </ul>
  </nav>
</header>
