{# templates/index.twig #}
{% extends "base.twig" %}

{% block content %}
  <section class="loader hidden"></section>
  <section class="select hidden"></section>
  <section class="carousel hidden"></section>
  <section class="settings hidden"></section>
  <div id="background-container"></div>
{% endblock %}
